<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lighteningmarket.mappers.mystore.mystoreMapper">

    <!--    상품페이지 -->
    <select id="product_listAll"  resultMap="ProductResultMap">
        <![CDATA[
        SELECT DISTINCT proIdx,
                        title,
                        price,
                        regDate,
                        tradeArea,
                        url
        FROM tbl_product
        WHERE tbl_product.id = #{id};
        ]]>
    </select>


    <!--        찜페이지-->
    <select id="favorites_listAll" resultMap="ProductResultMap">
        <![CDATA[
        SELECT DISTINCT proIdx,
                        title,
                        price,
                        regDate,
                        tradeArea,
                        url
        FROM tbl_product
                 INNER JOIN tbl_favorites ON tbl_product.proIdx = tbl_favorites.pro_idx
        WHERE tbl_favorites.id = #{id};
        ]]>
    </select>


    <!--        상점문의 페이지-->
    <select id="storeQa_listAll" resultMap="StoreQaResultMap">
        <![CDATA[
        SELECT DISTINCT store_qa_idx
                      , tbl_store_qa.nickname
                      , store_qa_des
                      , unknown_check
        FROM tbl_store_qa
                 INNER JOIN tbl_member ON tbl_store_qa.store_nickname = tbl_member.nickname
        WHERE tbl_member.nickname = #{loginId};
        ]]>
    </select>

    <!--    상점문의 테이블에 추가하기-->
    <insert id="storeQa_create">
        INSERT INTO tbl_store_qa (
                                    nickname
                                 , store_qa_des
                                 , unknown_check
                                 , store_nickname
        ) VALUES (
                   #{nickname}
                 , #{storeQaDes}
                 , #{unknownCheck}
                 , #{nickname}
                 )
    </insert>

<!--    상점문의 테이블에 삭제하기-->
    <delete id="storeQa_delete">
        DELETE FROM tbl_store_qa
        WHERE store_qa_idx = #{storeQaIdx}
    </delete>


    <!--     팔로워 페이지 (팔로워한 유저들 불러오기)-->
    <select id="follower_listAll" parameterType="com.project.lighteningmarket.mystore.domain.FollowerVO" resultMap="FollowerNicknameResultMap">
        <![CDATA[
        select DISTINCT nickname
        from tbl_member
                 INNER JOIN tbl_follower ON tbl_member.id = tbl_follower.from_user
        WHERE tbl_follower.to_user = #{loginId};
        ]]>
    </select>

<!--    팔로워 페이지 (상품수) -->
    <select id="follower_productCount" parameterType="com.project.lighteningmarket.mystore.domain.FollowerVO" resultMap="FollowerProductCountResultMap">
        <![CDATA[
        select count(*) AS productCount
        from tbl_product join tbl_member
        where tbl_product.id = tbl_member.id
        and tbl_member.nickname = #{followerNickname};
        ]]>
    </select>

    <!--     팔로워 페이지 (팔로워 수)-->
    <select id="follower_followerCount" parameterType="com.project.lighteningmarket.mystore.domain.FollowerVO" resultMap="FollowerCountResultMap">
        <![CDATA[
        select count(*) AS followerCount
        from tbl_member
                 INNER JOIN tbl_follower ON tbl_member.id = tbl_follower.to_user
        WHERE tbl_member.nickname = #{followerNickname};
        ]]>
    </select>


    <!--     팔로잉 페이지 (팔로워한 유저들 불러오기)-->
    <select id="following_listAll" parameterType="com.project.lighteningmarket.mystore.domain.FollowingVO" resultMap="FollowingNicknameResultMap">
        <![CDATA[
        select DISTINCT nickname
        from tbl_member
                 INNER JOIN tbl_following ON tbl_member.id = tbl_following.to_user
        WHERE tbl_following.from_user = #{loginId};
        ]]>
    </select>

    <!--    팔로잉 페이지 (상품수) -->
    <select id="following_productCount" parameterType="com.project.lighteningmarket.mystore.domain.FollowingVO" resultMap="FollowingProductCountResultMap">
        <![CDATA[
        select count(*) AS productCount
        from tbl_product join tbl_member
        where tbl_product.id = tbl_member.id
          and tbl_member.nickname = #{followingNickname};
        ]]>
    </select>

    <!--     팔로잉 페이지 (팔로워 수)-->
    <select id="following_followerCount" parameterType="com.project.lighteningmarket.mystore.domain.FollowingVO" resultMap="FollowingCountResultMap">
        <![CDATA[
        select count(*) AS followerCount
        from tbl_member
                 INNER JOIN tbl_follower ON tbl_member.id = tbl_follower.to_user
        WHERE tbl_member.nickname = #{followingNickname};
        ]]>
    </select>

    <!--     팔로잉 페이지 (이미지 파일)-->
    <select id="following_img" parameterType="com.project.lighteningmarket.mystore.domain.FollowingVO" resultMap="FollowingimgResultMap">
        <![CDATA[
        select url, proIdx
        from tbl_product
                 INNER JOIN tbl_member ON tbl_product.id = tbl_member.id
        WHERE tbl_member.nickname = #{followingNickname}
        order by tbl_member.nickname DESC limit 1;
        ]]>
    </select>


    <!-- 쿠키를 이용해서 ID 찾기 -->
    <select id="searchId" parameterType="string" resultType="string">
        SELECT id
        FROM bunjang.tbl_member
        where session_key = #{loginId};
    </select>

    <!-- 쿠키를 이용해서 NickName 찾기 -->
    <select id="searchNickname" parameterType="string" resultType="string">
        SELECT nickname
        FROM bunjang.tbl_member
        where session_key = #{loginId};
    </select>




    <resultMap id="ProductResultMap" type="ProductVO">
        <id property="proIdx" column="proIdx"/>
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="tradeArea" column="tradeArea"/>
        <result property="price" column="price"/>
        <result property="regDate" column="regDate"/>
        <result property="productUrl" column="url"/>
    </resultMap>

    <resultMap id="StoreQaResultMap" type="StoreQaVO">
        <id property="storeQaIdx" column="store_qa_idx"/>
        <result property="nickname" column="nickname"/>
        <result property="storeQaDes" column="store_qa_des"/>
        <result property="unknownCheck" column="unknown_check"/>
    </resultMap>

    <resultMap id="FollowerNicknameResultMap" type="FollowerVO">
        <result property="followerNickname" column="nickname"/>
    </resultMap>

    <resultMap id="FollowerProductCountResultMap" type="FollowerVO">
        <result property="followerProdutCount" column="productCount"/>
    </resultMap>

    <resultMap id="FollowerCountResultMap" type="FollowerVO">
        <result property="followerCount" column="followerCount"/>
    </resultMap>

    <resultMap id="FollowingNicknameResultMap" type="FollowingVO">
        <result property="followingNickname" column="nickname"/>
    </resultMap>

    <resultMap id="FollowingProductCountResultMap" type="FollowingVO">
        <result property="followingProdutCount" column="productCount"/>
    </resultMap>

    <resultMap id="FollowingCountResultMap" type="FollowingVO">
        <result property="followerCount" column="followerCount"/>
    </resultMap>

    <resultMap id="FollowingimgResultMap" type="FollowingVO">
        <result property="productUrl" column="Url"/>
        <result property="followingProIdx" column="proIdx"/>
    </resultMap>

</mapper>